
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap');
/*universal selector*/

*::before 
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*root*/
:root{
 --primaryColor:black;
 --secondaryColor:white;
 --alternativeColor:grey;
 --borderColor:#080808;
 font-family :'Chivo Mono', monospace;  
}
/*logo*/
#logo{
    width:35rem;
}